.conum[data-value] {
	display: inline-block;
	color: #fff !important;
	background-color: #374151;
	border-radius: 100px;
	text-align: center;
	width: 1.67em;
	height: 1.67em;
	font-size: 0.75em;
	line-height: 1.67em;
	font-family: "Open Sans", "Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
}

.inverted {
	filter: invert();
}

.conum[data-value]:after {
	content: attr(data-value);
}
